doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='format-detection', content='telephone=no')

    //- Title
    //- ===================================
    title Voxus - Teste front-end

    //- Favicon and SVG logo
    //- ===================================
    link(rel='shortcut icon', href='assets/img/favicon.ico')
    link(rel='logo', type='image/svg', href='assets/img/logo.svg')

    //- Stylesheet and fonts are placed after body for performance reasons
    //- Scripts are places at the end of body for performance reasons

  body

  nav.nav
    .DEF_wrapper
      a.nav__logo(href="/")
        img.nav__logo__img(src="assets/img/logo.svg", alt="Logo da Voxus")

  main.main

    .main__content.DEF_wrapper
      .main__content__head
        h2.main__content__head__title Você está a poucos passos de otimizar suas campanhas!
        span.main__content__head__desc Queremos conhecer mais sobre sua empresa para melhorar sua experiência com a Voxus.

      form.main__content__form(action="")
        label.main__content__form__label(for="nomeCompleto") Nome completo
        input.main__content__form__input(type="text", name="nome-completo" id="nomeCompleto" placeholder="Nome completo")

        label.main__content__form__label(for="telefone") Telefone
        input.main__content__form__input(type="tel", name="telefone" id="telefone" placeholder="Telefone")

        label.main__content__form__label(for="email") Endereço de Email
        input.main__content__form__input(type="text", name="email" id="email" placeholder="Endereço de Email")

        label.main__content__form__label(for="nomeEmpresa") Nome da empresa
        input.main__content__form__input(type="text", name="nome-empresa" id="nomeEmpresa" placeholder="Nome da Empresa")

        label.main__content__form__label(for="urlSite") URL do site
        input.main__content__form__input(type="url", name="url-site" id="urlSite" placeholder="URL do site")

        select.main__content__form__input(name="verbaMensalMidia")
          option(value="" selected="true" disabled="disabled") Verba mensal em mídia
          option(value="") <= R$5.000
          option(value="") >= R$5.001 e <= R$30.000
          option(value="") >= R$30.001 e <= R$100.000
          option(value="") >= R$100.001 e <= R$500.000
          option(value="") >= R$500.001
          option(value="") Não se aplica

        input.main__content__form__submit(type="submit" value="Experimentar gratuitamente")

    footer.footer
      .DEF_wrapper
        a.footer__logo(href="/")
          img.footer__logo__img(src="assets/img/logo-pb.svg", alt="Logo voxus")

        a.footer__link(href="") Termos de serviço
        a.footer__link(href="") Política de privacidade
        a.footer__link(href="") Opções de anúncio



    //- JS scripts
    //- ===================================
    script(async, src='js/index.min.js')

  //- Stylesheet and fonts
  //- ===================================
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
  link(rel='stylesheet', href='assets/css/style.min.css')
